/* Start Global */
:root {
  --main-color: #2ebfac;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
h3 {
  font-size: 23px;
  font-weight: normal;
  color: var(--main-color);
  margin-bottom: 0;
}

p {
  line-height: 27px;
  color: #757474;
  font-size: 14px;
}

button {
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 25px;
  background-color: transparent;
  transition: 0.5s ease;
  font-size: 12px;
  width: 150px;
}
button:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.49);
  z-index: 0;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: var(--main-color) 2px solid;
}

.menu-icon {
  display: none;
  cursor: pointer;
}
.menu-icon span {
  display: inline-block;
  margin-top: -20px;
  margin-right: 5px;
  position: relative;
  top: -6%;
}
.menu-icon i {
  font-size: 25px;
  padding-top: 25%;
}
@media (max-width: 1033px) {
  .menu-icon {
    display: block;
  }
}
/* Menu */
.menu {
  background-color: #3b3b3b;
  position: fixed;
  top: 0;
  right: -250px;
  height: 100vh;
  z-index: 1000;
  width: 250px;
  transition: 0.5s ease-in-out;
  overflow: auto;
}

.menu i {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 25px;
  color: #a5a3a3;
}

.menu i:hover {
  color: #2ebfac;
  cursor: pointer;
}
.menu .links {
  margin-top: 35px;
}
.menu .links .flex {
  flex-direction: column;
  list-style: none;
}

.menu .links .flex li {
  padding: 12px 20px;
  border-bottom: 1px solid #585858;
  padding-left: 0;
  cursor: pointer;
}
@media (max-width: 800px) {
  .menu .links .flex {
    padding-left: 10px;
  }
  .menu .links .flex li {
    padding: 10px 5px;
    font-size: 14px;
  }
}
.menu .links .flex li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.menu .links .flex li:hover,
.menu .links .flex li a:hover {
  color: #2ebfac;
}
.menu .links .flex .Option1 {
  padding-left: 20px;
  color: #d1cfcf;
}

.menu .links .flex .Option2 {
  padding-left: 40px;
  color: #d1cfcf;
}
/* End Global */

/* Start NavBar */
nav {
  width: 100%;
  background-color: var(--main-color);
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
}
@media (max-width: 530px) {
  nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}
nav .brand {
  margin-right: auto;
  color: #fff;
}
nav .brand span:first-of-type {
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: bold;
  cursor: pointer;
}
nav .brand span:last-of-type {
  font-size: 14px;
  position: relative;
  top: -6px;
}
@media (max-width: 350px) {
  nav .brand span:first-of-type {
    font-size: 22px;
  }
  nav .brand span:last-of-type {
    font-size: 11px;
  }
}

nav ul {
  list-style: none;
}
nav ul li {
  padding: 12px 25px;
  cursor: pointer;
  margin-right: 10px;
}
@media (max-width: 1033px) {
  nav ul li {
    display: none;
  }
  nav .ul-flex {
    margin: 0 !important;
    padding: 0 !important;
  }
}
nav ul li:hover {
  background-color: #fff;
}
nav ul li:hover a {
  color: #2ebfac;
}
nav ul li:last-of-type {
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 13px;
}
nav ul li:last-of-type:hover {
  background-color: #86c5c058;
}
nav ul li:last-of-type:hover a {
  color: #fff;
}
nav ul li:nth-of-type(4) {
  background-color: #fff;
}
nav ul li:nth-of-type(4) a {
  color: #2ebfac;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* End NavBar */

/***** Start Elements *******/

.elements {
  background-color: #fff;
  margin-top: 70px;
  padding: 20px 0;
}

.elements h3 {
  font-size: 35px;
}
.elements p:first-of-type {
  font-size: 17px;
}

/* Start Boxes */
.elements .flex {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}
.elements .flex .box1,
.elements .flex .box2 {
  width: 49%;
}

.elements .flex .box3,
.elements .flex .box4,
.elements .flex .box5 {
  width: 32%;
}
@media (max-width: 1033px) {
  .elements .flex .box3,
  .elements .flex .box4,
  .elements .flex .box5 {
    width: 100%;
  }
}
@media (max-width: 785px) {
  .elements .flex .box {
    width: 100%;
  }
}

.elements .flex .box h3 {
  font-size: 25px;
}
.elements .flex p {
  font-size: 13px;
}
/* End Boxes */

/** Start Text & Button **/
.text-button {
  background-color: #fff;
  padding: 30px 0;
}
/* Start Text */
.text-button .text {
  width: 48%;
}
@media (max-width: 1033px) {
  .text-button .text {
    width: 100%;
  }
  .text-button {
    padding-top: 0;
  }
}
.text-button .text .html {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.text-button .text .html p {
  font-size: 16px;
}
.text-button .text .html p code {
  border: solid 1px #ddd;
  background-color: #f7f7f7;
  padding: 3px 5px;
}

.text-button .text .heading {
  color: var(--main-color);
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.text-button .text .heading h3 {
  font-weight: bold;
  font-size: 20px;
}

.text-button .text .Subtitle .h2 h2 {
  color: var(--main-color);
  font-weight: normal;
}
.text-button .text .Subtitle .h2 p {
  font-size: 18px;
}

.text-button .text .Subtitle .h3 h3 {
  color: var(--main-color);
  font-weight: normal;
  font-size: 20px;
}
.text-button .text .Subtitle .h3 p {
  font-size: 16px;
}

.text-button .text .Subtitle .h4 h4 {
  color: var(--main-color);
  font-weight: normal;
}
.text-button .text .Subtitle .h4 p {
  font-size: 14px;
  margin-top: -18px;
}

.text-button .text .list h3 {
  font-size: 24px;
  margin-bottom: 0;
}
.text-button .text .list h4 {
  color: var(--main-color);
  font-weight: normal;
  font-size: 24px;
}
.text-button .text .list .Unordered {
  width: 48%;
}
@media (max-width: 785px) {
  .text-button .text .list .Unordered {
    width: 100%;
  }
  .text-button .text .list h3:first-of-type {
    font-size: 27px;
    margin-bottom: 5px;
    margin-top: 30px;
  }
  .text-button .text .list h4 {
    font-size: 20px;
  }
}
.text-button .text .list .Unordered ul {
  color: #757474;
  padding-left: 0;
  margin-left: 20px;
}
.text-button .text .list .Unordered ul li {
  margin-bottom: 10px;
  font-size: 15px;
}
.text-button .text .list .Unordered .Alternate p:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.text-button .text .list .Ordered {
  width: 48%;
}
@media (max-width: 785px) {
  .text-button .text .list .Ordered {
    width: 100%;
  }
}
.text-button .text .list .Ordered ol {
  color: #757474;
  padding-left: 20px;
}
.text-button .text .list .Ordered ol li {
  margin-bottom: 10px;
}

.text-button .text .list .Ordered .icons h3 {
  margin-bottom: 15px;
}
.text-button .text .list .Ordered .icons i {
  font-size: 30px;
  color: var(--main-color);
  margin-right: 10px;
  cursor: pointer;
}
@media (max-width: 785px) {
  .text-button .text .Definition {
    margin-top: 50px;
  }
}
.text-button .text .Definition h4 {
  color: #757474;
}

.text-button .text .Definition p {
  margin-left: 40px;
}

/*Button */
.text-button .text .Actions h3 {
  margin-bottom: 30px;
}
@media (max-width: 1033px) {
  .text-button .text .Actions {
    width: 100%;
  }
}
@media (max-width: 785px) {
  .text-button .text .Actions {
    margin-top: 50px;
  }
}
.text-button .text .Actions button {
  margin-bottom: 15px;
  margin-right: 15px;
}
.text-button .text .Actions .Default {
  padding: 10px;
  color: #fff;
  background-color: var(--main-color);
  width: 130px;
}
.text-button .text .Actions .Default2 {
  background-color: var(--main-color);
  font-size: 14px;
  width: 80px;
  color: #fff;
}
.text-button .text .Actions .Small {
  padding: 10px;
  color: #757474;
  font-size: 14px;
  border: 1px solid #757474;
  width: 80px;
}
.text-button .text .Actions .Small2 {
  color: #757474;
  border: 1px solid #757474;
  width: 130px;
}
@media (max-width: 785px) {
  .text-button .text .Actions button:nth-of-type(1),
  .text-button .text .Actions button:nth-of-type(2),
  .text-button .text .Actions button:nth-of-type(3),
  .text-button .text .Actions button:nth-of-type(4) {
    width: 40%;
  }

  .text-button .text .Actions button:nth-last-of-type(1),
  .text-button .text .Actions button:nth-last-of-type(2),
  .text-button .text .Actions button:nth-last-of-type(3),
  .text-button .text .Actions button:nth-last-of-type(4) {
    width: 100%;
  }
  .text-button .text .Actions button:nth-last-of-type(2),
  .text-button .text .Actions button:nth-last-of-type(4) {
    background-color: #2ebfac;
    color: #fff;
    border: 1px solid #2ebfac;
  }
}
@media (max-width: 530px) {
  .text-button .text .Actions button:nth-of-type(1),
  .text-button .text .Actions button:nth-of-type(2),
  .text-button .text .Actions button:nth-of-type(3),
  .text-button .text .Actions button:nth-of-type(4),
  .text-button .text .Actions button:nth-of-type(5),
  .text-button .text .Actions button:nth-of-type(6),
  .text-button .text .Actions button:nth-of-type(7),
  .text-button .text .Actions button:nth-of-type(8) {
    width: 100%;
  }
  .text-button .text .Actions button:nth-of-type(1),
  .text-button .text .Actions button:nth-of-type(3),
  .text-button .text .Actions button:nth-of-type(5),
  .text-button .text .Actions button:nth-of-type(7),
  .text-button .text .Actions button:nth-of-type(9),
  .text-button .text .Actions button:nth-of-type(11) {
    background-color: #2ebfac;
    border: #2ebfac 1px solid;
    color: #fff;
  }
  .text-button .text .Actions button:nth-of-type(2),
  .text-button .text .Actions button:nth-of-type(4),
  .text-button .text .Actions button:nth-of-type(6),
  .text-button .text .Actions button:nth-of-type(8),
  .text-button .text .Actions button:nth-of-type(10),
  .text-button .text .Actions button:nth-of-type(12) {
    background-color: #fff;
    border: #757474 1px solid;
    color: #757474;
  }
}

/* Number */
.text-button .text .Pagination .number {
  margin-top: 20px;
}
.text-button .text .Pagination .number span {
  margin-right: 15px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  color: #75747490;
}
@media (max-width: 530px) {
  .text-button .text .Pagination .number span {
    display: none;
  }
}
.text-button .text .Pagination .number span:hover {
  color: #2ebfac;
}
.text-button .text .Pagination .number span:nth-of-type(2) {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
}
.text-button .text .Pagination .number span:first-of-type {
  padding: 12px;
  border: 1px solid #75747430;
  border-radius: 25px;
  width: 100px;
  text-align: center;

  color: #989696;
  cursor: no-drop;
}
.text-button .text .Pagination .number span:last-of-type {
  padding: 12px;
  border: 1px solid #757474;
  border-radius: 25px;
  width: 100px;
  text-align: center;
  color: #757474;
}
.text-button .text .Pagination .number span:last-of-type:hover {
  border: 1px solid #2ebfac;
  color: #2ebfac;
}
@media (max-width: 530px) {
  .text-button .text .Pagination .number {
    width: 100%;
  }
  .text-button .text .Pagination .number span:first-of-type,
  .text-button .text .Pagination .number span:last-of-type {
    width: 100%;
    margin-bottom: 15px;
    display: inline-block;
  }
}
/* Blockquote */
.text-button .text .Blockquote {
  margin-top: 50px;
}
.text-button .text .Blockquote h3 {
  margin-bottom: 30px;
}
.text-button .text .Blockquote p {
  padding-left: 50px;
  border-left: 5px solid #75747473;
}

/* Table */
.text-button .text .Table {
  margin-top: 50px;
}
.text-button .text .Table table {
  color: #757474;
  width: 100%;
}
.text-button .text .Table h3 {
  margin-bottom: 30px;
}
.text-button .text .Table table tr th {
  padding: 10px 15px;
  color: #444;
  font-weight: normal;
  text-align: start;
  border-bottom: 1px solid #75747429;
}
.text-button .text .Table table tr:nth-of-type(2),
.text-button .text .Table table tr:nth-of-type(4),
.text-button .text .Table table tr:nth-of-type(6) {
  background-color: #f7f7f7;
}
.text-button .text .Table table tr td {
  padding: 15px;
  border-bottom: 1px solid #75747429;
}
.text-button .text .Table table tr:last-of-type td {
  border: none;
}

.text-button .text .Table .Alternate table tr td {
  border-right: 1px solid #75747429;
}
.text-button .text .Table .Alternate table tr td:first-of-type {
  border-left: 1px solid #75747429;
}
.text-button .text .Table .Alternate table tr:last-of-type td {
  border: none;
}
/* End Text */

/* Start Button */
.text-button .button {
  width: 48%;
}
@media (max-width: 1033px) {
  .text-button .button {
    width: 100%;
  }
}
/* Start Buttons */
.text-button .button h3 {
  margin-bottom: 30px;
}
.text-button .button .buttons button {
  margin-bottom: 30px;
}

.text-button .button .buttons .Primary {
  background-color: #2ebfac;
  color: #fff;
}

.text-button .button .buttons .Default {
  border: 1px solid #757474;
  color: #757474;
}

.text-button .button .buttons .small {
  font-size: small;
  padding: 8px 15px;
}
.text-button .button .buttons .button1 button {
  width: 25%;
  margin-right: 20px;
}

.text-button .button .buttons .button2 button {
  width: 25%;
  margin-right: 20px;
}
.text-button .button .buttons .button2 button:first-of-type {
  font-size: large;
}
.text-button .button .buttons .button2 .small {
  width: 15%;
}

.text-button .button .buttons .button3 button,
.text-button .button .buttons .button4 button {
  width: 48%;
}

.text-button .button .buttons .button5 button {
  padding: 15px;
  width: 25%;
}
.text-button .button .buttons .button6 button {
  padding: 15px;
  width: 25%;
  opacity: 0.4;
}
@media (max-width: 530px) {
  .text-button .button .buttons .button1 button,
  .text-button .button .buttons .button2 button,
  .text-button .button .buttons .button2 .small,
  .text-button .button .buttons .button3 button,
  .text-button .button .buttons .button4 button,
  .text-button .button .buttons .button5 button,
  .text-button .button .buttons .button6 button {
    width: 100%;
    margin-bottom: 15px;
  }
}

/* Start Form */
.text-button .button form {
  padding-bottom: 30px;
  border-bottom: 1px solid #75747450;
}
.text-button .button input {
  background-color: #f7f7f7;
}
.text-button .button form input {
  margin-bottom: 20px;
  padding: 10px;
}
.text-button .button form input::placeholder {
  font-size: 14px;
}
.text-button .button form input:nth-of-type(1),
.text-button .button form input:nth-of-type(2) {
  width: 49%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #75747429;
}
@media (max-width: 530px) {
  .text-button .button form input:nth-of-type(1),
  .text-button .button form input:nth-of-type(2) {
    width: 100%;
  }
  .text-button .button form input:nth-of-type(3),
  .text-button .button form input:nth-of-type(4),
  .text-button .button form label {
    display: none;
  }
}

.text-button .button form select {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  color: #757474;
  border: 1px solid #75747429;
  background-color: #f7f7f7;
  font-size: 14px;
}
.text-button .button form label {
  color: #757474;
  font-size: 16px;
}
.text-button .button form textarea {
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid #75747429;
}
.text-button .button form textarea::placeholder {
  padding: 10px;
  font-size: 14px;
}
.text-button .button form button {
  background-color: #2ebfac;
  color: #fff;
  margin-top: 20px;
}
@media (max-width: 530px) {
  .text-button .button form button {
    width: 100%;
  }
}

.text-button .button .search {
  margin-top: 50px;
}
.text-button .button .search input {
  width: 70%;
  border: 1px solid #75747429;
  padding: 10px;
}
.text-button .button .search button {
  width: 28%;
  border: 1px solid #757474;
  color: #757474;
}
@media (max-width: 785px) {
  .text-button .button .search input {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
  }
  .text-button .button .search button {
    width: 100%;
  }
}
.text-button .button .search button:hover {
  color: #2ebfac;
  border: #2ebfac 1px solid;
}

/* Start Image */

.text-button .button .image h4 {
  color: #2ebfac;
  font-weight: normal;
}
.text-button .button .image .img {
  width: 32%;
}
.text-button .button .image .img:first-of-type {
  width: 100%;
  margin-bottom: 30px;
}
.text-button .button .image .img img {
  width: 100%;
}

/* Left & rights */
.text-button .button .Left-rights h3 {
  font-size: 27px;
}
/* Start left */
.text-button .button .Left-rights .left img {
  float: left;
  margin-right: 10px;
}
@media (max-width: 785px) {
  .text-button .button .Left-rights .left img {
    margin-bottom: 2px;
    margin-top: 15px;
  }
}
/* Start right */
.text-button .button .Left-rights .right {
  margin-top: 30px;
}
.text-button .button .Left-rights .right img {
  float: right;
  margin-left: 10px;
}
@media (max-width: 785px) {
  .text-button .button .Left-rights .right img {
    margin-bottom: 2px;
    margin-top: 15px;
  }
}
/* Box */

.text-button .button .boxs .box {
  padding: 20px;
  border: 1px solid #75747429;
}

/* Preformatted */

.text-button .button .Preformatted .box {
  padding: 20px;
  border: 1px solid #75747429;
  color: #757474;
  font-size: 12px;
  background-color: #f7f7f7;
  line-height: 27px;
}
/* End Button */

/** End Text & Button **/

/**** End Elements ******/

/********* Start about And Contact *******/

.about-contact {
  background-color: #fff;
  margin-top: 100px;
  width: 100%;
}
@media (max-width: 785px) {
  .about-contact {
    margin-top: 50px;
  }
}
.about-contact .container {
  width: 90%;
}
/*** Start About Us ***/
.about-contact .about-us {
  width: 70%;
  padding-bottom: 50px;
}
@media (max-width: 1033px) {
  .about-contact .about-us {
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
}
.about-contact .about-us .flex {
  margin-top: 30px;
  width: 100%;
}

.about-contact .about-us .text {
  width: 47%;
}
@media (max-width: 785px) {
  .about-contact .about-us .text {
    width: 100%;
    margin-bottom: 30px;
  }
}

.about-contact .about-us .text button {
  border: 1px solid #757474;
  color: #757474;
  margin-top: 30px;
}
@media (max-width: 530px) {
  .about-contact .about-us .text button {
    width: 100%;
  }
}
.about-contact .about-us .text button:hover {
  border: 1px solid #2ebfac;
  color: #2ebfac;
}
.about-contact .about-us .team {
  width: 47%;
  margin-top: -50px;
}

@media (max-width: 785px) {
  .about-contact .about-us .team {
    width: 100%;
  }
}

.about-contact .about-us .team .box {
  width: 100%;
}
.about-contact .about-us .team .box .img {
  width: 20%;
  border-radius: 50%;
}
.about-contact .about-us .team .box .img img {
  width: 100%;
  border-radius: 50%;
}

.about-contact .about-us .team .box .text {
  width: 77%;
}
@media (max-width: 785px) {
  .about-contact .about-us .team .box .img {
    width: 15%;
  }
  .about-contact .about-us .team .box .text {
    width: 83%;
    margin-top: 2%;
  }
}
.about-contact .about-us .team .box .text h4 {
  margin-bottom: 0px;
  margin-top: 10px;
  color: #757474;
}
.about-contact .about-us .team .box .text p {
  margin-top: 5px;
}

/*** End About Us ***/

/** Start Contact Us ***/
.about-contact .contact-us {
  width: 30%;
  border-left: 1px solid #ddd;
}
.about-contact .contact-us .container {
  width: 80%;
}
@media (max-width: 1033px) {
  .about-contact .contact-us {
    width: 100%;
    border-left: none;
  }
  .about-contact .contact-us .container {
    width: 90%;
  }
}
.about-contact .contact-us .icons {
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-contact .contact-us .icons i {
  height: 30px;
  width: 30px;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #757474;
  color: #757474;
  margin-right: 10px;
}
.about-contact .contact-us .icons span {
  font-size: 14px;
  color: #757474;
}
.about-contact .contact-us .icons span:hover {
  color: var(--main-color);
  cursor: pointer;
}
/** End Contact Us ***/

/******** End about And Contact *******/

/*** Start Footer ***/

footer {
  text-align: center;
  background-color: #fff;
  padding: 30px 0;
  border-top: 1px solid #ddd;
}

/*** End Footer ***/
